.main {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.controls {
  background-color: #abd1e139;
  width: 100px;
  padding: 10px;
}
.control_item {
  background-color: antiquewhite;
  padding: 5px;
  border: 1px dashed black;
  text-align: center;
  color: gray;
  cursor: move;
}
.drag_area {
  background-color: #cccc;
  width: 300px;
  height: 100%;
}
